.user-head {
	height: 8rem;
	padding-top: 2rem;
}

.user-head-image div {
	line-height: 80px;
	border: 2px solid white;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 50%;
}

.user-nomarl-info{
	width: 80%;
	margin: .8rem auto 0;
}

.user-nomarl-info section{
	background: transparent;
}

.user-info-item{
	padding: 0px !important;
	color: #e6e6e6;
	font-size: .7rem;
}

.user-info-item div{
	margin: 0px !important;
	font-size: .5rem !important;
}
